<article>
    <h1>👋🏼</h1>
    <p>Hello! My name is David. I'm a full-stack web developer. That means I build all the parts of web sites and web apps. For example, this web site has <a href="https://api.dhariri.com">an API</a> for getting it's content and <a href="https://edit.dhariri.com">a CMS</a> for editing from anywhere. If you'd like to take a deeper dive into how this website ticks, <a href="https://github.com/davidhariri">It's all open source</a>.</p>
    <h3>Recent Work</h3>
    <ul>
        <li><a href="https://volley.works">Volley</a></li>
        <li><a href="http://nuvango.com">Nuvango</a></li>
    </ul>
    <h3>Other Stuff</h3>
    <ul>
        <li><a href="http://www.discogs.com/user/david.hariri/collection?layout=big">Record collection</a></li>
        <li><a href="https://www.pinterest.com/davidhariri/industrial-design/">Favourite industrial design</a></li>
    </ul>
    <p>If you want to talk to me, you can <a href="mailto:david.hariri@gmail.com">email me here</a> or <a href="imessage://david.hariri@gmail.com">iMessage</a> me.</p>
    <h1>✌🏼</h1>
</article>
