<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>David Hariri</title>
    </head>
    <body>
        {% include "nav.html" %}
        <h1>👋</h1>
        <p>Hello! My name is David. I'm a full-stack web developer and co-founder of <a href="http://volley.works">Volley</a> where I work on the future of social search. I like designing and developing websites and on the weekends I like climbing, swimming and listening to music.</p>
        <p>I made this website for people who are interested in my <a href="/posts">thoughts</a> and <a href="/pictures">photos</a></p>
        <h3>Recent Work</h3>
        <ul>
            <li><a href="https://volley.works">Volley</a></li>
            <li><a href="http://nuvango.com">Nuvango</a></li>
        </ul>
        <h3>Other Stuff</h3>
        <ul>
            <li><a href="http://www.discogs.com/user/david.hariri/collection?layout=big">Record collection</a></li>
            <li><a href="https://www.pinterest.com/davidhariri/industrial-design/">Favourite industrial design</a></li>
        </ul>
        <p>If you want to talk to me, you can <a href="mailto:david.hariri@gmail.com">email me here</a> or <a href="imessage://david.hariri@gmail.com">iMessage</a> me.</p>
        <h1>✌</h1>
        {% for post in posts %}
            {% include "post.html" %}
        {% endfor %}
    </body>
</html>
