<!DOCTYPE html>
<html>
    <head>
        {% include "partials/head.html" %}
        {% set title = post.title %}
        {% set description = post.content.html|plain_text|first_bit %}
        <title>David Hariri – {{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
    </head>
    <body>
        {% include "partials/nav.html" %}
        {% include "partials/article.html" %}
        <div class="actions">
            <button class="love_button" title="I loved this article" onclick="love(this)">{{ post.love_count }}</button>
        </div>
    </body>
    <script>
        var articleID = "{{ post._id['$oid'] }}";
        var articleRead = false;

        function love(element) {
            var loveRequest = new Image();

            loveRequest.src = `https://api.dhariri.com/articles/${articleID}/love`;
            markLoved();
            var count = parseInt(element.innerHTML);
            element.innerHTML = count+1;
            try {
                localStorage.setItem(articleID, true);
            } catch (e) {
                console.warn("localStorage not available")
            }
        }

        function read() {
            var readRequest = new Image();
            readRequest.src = `https://api.dhariri.com/articles/${articleID}/read`;
            articleRead = true;
        }

        function markLoved() {
            document.getElementsByClassName("love_button")[0].classList.add("loved");
        }

        function init() {
            if(localStorage.getItem(articleID)) {
                markLoved();
            }
        }

        window.onscroll = function() {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                if(!articleRead) {
                    read();
                }
            }
        };

        init();
    </script>
    {% include "partials/analytics.html" %}
</html>
